<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>167A09A3-5A19-4E9C-A10D-09551162B58C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E15A214-E842-4BB4-91F4-00BDDD7BE0B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24605EC2-1112-4CA9-AB10-7E2F97D8FAEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5B91885-4786-49B6-BC8F-90E28C898606</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25AEE1DC-D379-46AB-B63D-1AAF14C73747</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0743AF7C-7378-4132-B377-ECA7BD588FC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>275AE615-1485-4851-8310-C1E1AC2D70D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4837D6F9-5D47-4E68-ABEF-A34714D62090</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51A16031-4C4E-46EE-8B8B-699217C24D76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E2BA39F-10EB-4D8A-8842-87B7F77824F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57046DB0-85E5-4695-8F63-90D23806A6E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A828815-30CE-4B9D-A129-662653DF0467</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D0944B5-0A7D-482E-933E-D1A403FBC664</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25A56F7F-138C-4860-9C91-483B8DE2AA0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60D07CA7-64D7-4CB9-B828-9A1F6986A481</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6AB6D0B-9EC1-4A6D-9C73-4E1B8B267D72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70BE7A24-6A8C-4A5A-877F-30108C032870</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>490B556A-E843-4ABB-8ED5-5B80BEF9D058</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72BB7B9A-0AFB-4F37-AF74-5328BF1FAFB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A00C7F6-741B-4FBD-9E6F-CCCFE0F9FEDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95F78E9C-CD23-4FC5-8D2E-5CF1A40DA6DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EEAEB3C-D78A-43FE-B6E9-C302DF349658</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99CEF432-99BB-42B1-9C1B-1038349DE470</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61BA06B5-986D-4B51-AC11-55F0209E8463</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EF668B6-E928-46D1-8582-BE15561975B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E2C7013-B5D9-4077-ADD4-D6CAEC07704A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A384355D-E17D-48D2-ACD0-E03A6587E75F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E063A9A0-0B3C-4F88-995E-226E9D5519B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B43C9A83-E031-4639-8923-A3EFE7586280</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28C68F87-0756-4C2C-BA4C-BDB77FD71176</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBD376E4-4E3F-4091-A894-C237BD30BF15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07F1678D-AFA7-4851-8ED3-33C1FA10D25E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC44AB29-3391-4935-BDB4-5082B613EFC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>953A0049-7DC7-41F4-BF1C-94AA120BEECA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F54DD42D-5669-47A1-AA39-8856C74B6B46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC9C3E5C-E686-4C58-BDB1-3CF9DF78F149</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Xcode: Editor Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>m</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5D0944B5-0A7D-482E-933E-D1A403FBC664</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - UI Elements</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1E2C7013-B5D9-4077-ADD4-D6CAEC07704A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - {query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>25A56F7F-138C-4860-9C91-483B8DE2AA0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - UI Actions</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3E15A214-E842-4BB4-91F4-00BDDD7BE0B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mue</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark UI Elements</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9EF668B6-E928-46D1-8582-BE15561975B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mua</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark UI Actions</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>167A09A3-5A19-4E9C-A10D-09551162B58C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mvs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark View Setup</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B43C9A83-E031-4639-8923-A3EFE7586280</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - Variables</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E063A9A0-0B3C-4F88-995E-226E9D5519B9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - View Setup</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>28C68F87-0756-4C2C-BA4C-BDB77FD71176</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>func {query}() {
    
}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9EEAEB3C-D78A-43FE-B6E9-C302DF349658</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mvar</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark Variables</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A384355D-E17D-48D2-ACD0-E03A6587E75F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>95F78E9C-CD23-4FC5-8D2E-5CF1A40DA6DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>import XCTest

class {query}Tests: XCTestCase {

    // MARK: - Variables



    // MARK: - Setup

    override func setUp() {
        super.setUp()
    }

    // MARK: - Tests

    func test() {
    }
}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>953A0049-7DC7-41F4-BF1C-94AA120BEECA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>xctest</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>XCTest Structure</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EC44AB29-3391-4935-BDB4-5082B613EFC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>minit</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark Initializer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25AEE1DC-D379-46AB-B63D-1AAF14C73747</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mvh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark View Helper</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CBD376E4-4E3F-4091-A894-C237BD30BF15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - Initialization</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0743AF7C-7378-4132-B377-ECA7BD588FC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - View Helpers</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>07F1678D-AFA7-4851-8ED3-33C1FA10D25E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>xcmock</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mock Structure</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60D07CA7-64D7-4CB9-B828-9A1F6986A481</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - Presentations</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0A828815-30CE-4B9D-A129-662653DF0467</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - View Life Cycle</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D5B91885-4786-49B6-BC8F-90E28C898606</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mpr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark Presentations</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>57046DB0-85E5-4695-8F63-90D23806A6E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mvlc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark View Life Cycle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>24605EC2-1112-4CA9-AB10-7E2F97D8FAEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>class {query}Mock: {query}Type {

    // MARK: - Calls

	enum Call: Equatable {
		case xxx
	}
	var calls: [Call] = []

    // MARK: - {query}Type


}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F6AB6D0B-9EC1-4A6D-9C73-4E1B8B267D72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mne</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark Networking</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F54DD42D-5669-47A1-AA39-8856C74B6B46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - Networking</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CC9C3E5C-E686-4C58-BDB1-3CF9DF78F149</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - Computed Properties</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7E2BA39F-10EB-4D8A-8842-87B7F77824F3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - Dependencies</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>61BA06B5-986D-4B51-AC11-55F0209E8463</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mcp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark Computed Properties</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51A16031-4C4E-46EE-8B8B-699217C24D76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mdep</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark Dependencies</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>99CEF432-99BB-42B1-9C1B-1038349DE470</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - Setup</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4A00C7F6-741B-4FBD-9E6F-CCCFE0F9FEDB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>enum Call: Equatable {
	case xxx
}
var calls: [Call] = []</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>490B556A-E843-4ABB-8ED5-5B80BEF9D058</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mtest</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark Test</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>275AE615-1485-4851-8310-C1E1AC2D70D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>calls</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Calls Skeleton</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70BE7A24-6A8C-4A5A-877F-30108C032870</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>// MARK: - Tests</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4837D6F9-5D47-4E68-ABEF-A34714D62090</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mset</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mark Setup</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72BB7B9A-0AFB-4F37-AF74-5328BF1FAFB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0743AF7C-7378-4132-B377-ECA7BD588FC4</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>07F1678D-AFA7-4851-8ED3-33C1FA10D25E</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>0A828815-30CE-4B9D-A129-662653DF0467</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>167A09A3-5A19-4E9C-A10D-09551162B58C</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>1E2C7013-B5D9-4077-ADD4-D6CAEC07704A</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>24605EC2-1112-4CA9-AB10-7E2F97D8FAEE</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>25A56F7F-138C-4860-9C91-483B8DE2AA0F</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>25AEE1DC-D379-46AB-B63D-1AAF14C73747</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>275AE615-1485-4851-8310-C1E1AC2D70D3</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>28C68F87-0756-4C2C-BA4C-BDB77FD71176</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>3E15A214-E842-4BB4-91F4-00BDDD7BE0B7</key>
		<dict>
			<key>xpos</key>
			<integer>1210</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>4837D6F9-5D47-4E68-ABEF-A34714D62090</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>490B556A-E843-4ABB-8ED5-5B80BEF9D058</key>
		<dict>
			<key>xpos</key>
			<integer>1210</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>4A00C7F6-741B-4FBD-9E6F-CCCFE0F9FEDB</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>51A16031-4C4E-46EE-8B8B-699217C24D76</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>57046DB0-85E5-4695-8F63-90D23806A6E7</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>5D0944B5-0A7D-482E-933E-D1A403FBC664</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>60D07CA7-64D7-4CB9-B828-9A1F6986A481</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>61BA06B5-986D-4B51-AC11-55F0209E8463</key>
		<dict>
			<key>xpos</key>
			<integer>1210</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>70BE7A24-6A8C-4A5A-877F-30108C032870</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>72BB7B9A-0AFB-4F37-AF74-5328BF1FAFB6</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>7E2BA39F-10EB-4D8A-8842-87B7F77824F3</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>953A0049-7DC7-41F4-BF1C-94AA120BEECA</key>
		<dict>
			<key>xpos</key>
			<integer>1210</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>95F78E9C-CD23-4FC5-8D2E-5CF1A40DA6DC</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>99CEF432-99BB-42B1-9C1B-1038349DE470</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>9EEAEB3C-D78A-43FE-B6E9-C302DF349658</key>
		<dict>
			<key>xpos</key>
			<integer>1210</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>9EF668B6-E928-46D1-8582-BE15561975B5</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>A384355D-E17D-48D2-ACD0-E03A6587E75F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B43C9A83-E031-4639-8923-A3EFE7586280</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>CBD376E4-4E3F-4091-A894-C237BD30BF15</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>CC9C3E5C-E686-4C58-BDB1-3CF9DF78F149</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>D5B91885-4786-49B6-BC8F-90E28C898606</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>E063A9A0-0B3C-4F88-995E-226E9D5519B9</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>EC44AB29-3391-4935-BDB4-5082B613EFC4</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>F54DD42D-5669-47A1-AA39-8856C74B6B46</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>F6AB6D0B-9EC1-4A6D-9C73-4E1B8B267D72</key>
		<dict>
			<key>xpos</key>
			<integer>1210</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
