<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>28CF8751-46B9-4B67-B9DE-1365AC8F0B74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4ABAB8E3-1117-40D9-8646-AB9012D9CC80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>447F938B-7DA6-41C4-AF82-73DF9018B78A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12A94C7A-3F7E-485D-82F9-7AD377A71249</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50242CFA-4513-48C1-930D-516922EB19B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>455C4B84-AAA8-4AB6-9A2A-26CB8DA16DAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EC14454-696F-4FF7-8947-E855DF6869FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>409A9667-6E50-4195-9D86-0B22656F4D2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75CA412A-431F-4A47-9E1A-A39D3230A596</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84A085C5-74A4-4FA4-BC54-340291B4AAFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>846AC533-2FEE-49F0-BCBB-99D530391D29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0FF1964-3A92-46C3-A120-BDA861E71A01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84A085C5-74A4-4FA4-BC54-340291B4AAFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4750FFE-242D-4303-9509-9927406E81F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD91CE30-FB47-4C89-8BCD-296E9A5C104E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28CF8751-46B9-4B67-B9DE-1365AC8F0B74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA9E375E-8DFC-4D22-8AFF-6879C506FB2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F88FEAEE-A329-45E5-BD45-AF44C801DF04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2707665-27C0-468E-B59C-9DF5ACA9AD95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>846AC533-2FEE-49F0-BCBB-99D530391D29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE56E885-F0D6-4F3D-814A-6A4BE6B609A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48887930-D8B2-4FA8-8C8C-98EE202993B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D12F0959-0ED4-4F36-AA92-757D7288253E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A6FAEFE-FF52-40C3-997B-66630FCAC38F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D94B16CC-BC42-423A-BFFC-E80C778E77E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC8A9504-0904-446E-A1ED-FDB3C9E2ACAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2A3FDD3-9C46-48A4-B7B4-771FA37781E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>447F938B-7DA6-41C4-AF82-73DF9018B78A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9A722D9-1C8D-433D-AE02-10BA760EBEFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE56E885-F0D6-4F3D-814A-6A4BE6B609A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Browser Searches</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://truffls.atlassian.net/browse/TRFLS-{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8A6FAEFE-FF52-40C3-997B-66630FCAC38F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C2707665-27C0-468E-B59C-9DF5ACA9AD95</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.de/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A0FF1964-3A92-46C3-A120-BDA861E71A01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jira Ticket search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D12F0959-0ED4-4F36-AA92-757D7288253E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>846AC533-2FEE-49F0-BCBB-99D530391D29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>twiki</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Truffls Wiki Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5EC14454-696F-4FF7-8947-E855DF6869FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://translate.google.com/?sl=auto&amp;tl=de&amp;text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4ABAB8E3-1117-40D9-8646-AB9012D9CC80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AD91CE30-FB47-4C89-8BCD-296E9A5C104E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://truffls.atlassian.net/wiki/dosearchsite.action?queryString={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>409A9667-6E50-4195-9D86-0B22656F4D2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>28CF8751-46B9-4B67-B9DE-1365AC8F0B74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A4750FFE-242D-4303-9509-9927406E81F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>email</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Unchained User By Email</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D94B16CC-BC42-423A-BFFC-E80C778E77E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>75CA412A-431F-4A47-9E1A-A39D3230A596</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://stage-unchained.truffls.com/admin/account/emailaddress/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CC8A9504-0904-446E-A1ED-FDB3C9E2ACAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>84A085C5-74A4-4FA4-BC54-340291B4AAFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>so</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Google Stackoverflow</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>50242CFA-4513-48C1-930D-516922EB19B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://stackoverflow.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>455C4B84-AAA8-4AB6-9A2A-26CB8DA16DAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://stage-unchained.truffls.com/admin/email_user/user/{query}/change/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>48887930-D8B2-4FA8-8C8C-98EE202993B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E9A722D9-1C8D-433D-AE02-10BA760EBEFB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CE56E885-F0D6-4F3D-814A-6A4BE6B609A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F88FEAEE-A329-45E5-BD45-AF44C801DF04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>16</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>Y</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E2A3FDD3-9C46-48A4-B7B4-771FA37781E9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Github</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BA9E375E-8DFC-4D22-8AFF-6879C506FB2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.youtube.com/results?search_query={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>12A94C7A-3F7E-485D-82F9-7AD377A71249</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>447F938B-7DA6-41C4-AF82-73DF9018B78A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12A94C7A-3F7E-485D-82F9-7AD377A71249</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>28CF8751-46B9-4B67-B9DE-1365AC8F0B74</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>409A9667-6E50-4195-9D86-0B22656F4D2A</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>447F938B-7DA6-41C4-AF82-73DF9018B78A</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>455C4B84-AAA8-4AB6-9A2A-26CB8DA16DAA</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>48887930-D8B2-4FA8-8C8C-98EE202993B1</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>4ABAB8E3-1117-40D9-8646-AB9012D9CC80</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>50242CFA-4513-48C1-930D-516922EB19B1</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>5EC14454-696F-4FF7-8947-E855DF6869FC</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>75CA412A-431F-4A47-9E1A-A39D3230A596</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>846AC533-2FEE-49F0-BCBB-99D530391D29</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>84A085C5-74A4-4FA4-BC54-340291B4AAFD</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>8A6FAEFE-FF52-40C3-997B-66630FCAC38F</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A0FF1964-3A92-46C3-A120-BDA861E71A01</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A4750FFE-242D-4303-9509-9927406E81F3</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>AD91CE30-FB47-4C89-8BCD-296E9A5C104E</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>BA9E375E-8DFC-4D22-8AFF-6879C506FB2A</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>C2707665-27C0-468E-B59C-9DF5ACA9AD95</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>CC8A9504-0904-446E-A1ED-FDB3C9E2ACAB</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>CE56E885-F0D6-4F3D-814A-6A4BE6B609A0</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>D12F0959-0ED4-4F36-AA92-757D7288253E</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D94B16CC-BC42-423A-BFFC-E80C778E77E4</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>E2A3FDD3-9C46-48A4-B7B4-771FA37781E9</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>E9A722D9-1C8D-433D-AE02-10BA760EBEFB</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>F88FEAEE-A329-45E5-BD45-AF44C801DF04</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
